In [14]:
import pandas as pd
import pickle

from utils import *
from sklearn.utils import shuffle

## Processing and Converting Dataset
**Reading & Extracting Data**: We start by importing our data from the Excel file located in the `/data` directory. From the imported dataframe, we extract the columns' names and specific rows that is important |for our subsequent operations.

In [15]:
df = pd.read_excel('data/element.xlsx', sheet_name='Sheet1')
element = df.columns.values.tolist()
Z = df.iloc[0,:]
r = df.iloc[1,:]
x = df.iloc[2,:]
c = df.iloc[3,:]

We will use the convert function from 'utils.py' to perform preprocessing and conversion of raw data. The result will be exported to 'export_data_new.xlsx'.

In [16]:
convert("data/raw_literature_data_revised.xlsx", "Co", 'data/Co_temperature.xlsx', element, Z, r, x, c)

For clarity in viewing decimal values, we set the display precision to 14 decimal places.

In [17]:
pd.set_option('display.precision', 14)

We will import the Co training data from the 'export_data_new.xlsx' file. After loading, we will remove any rows containing null values to ensure data integrity.

In [19]:
new_data = pd.read_excel('data/Co_temperature.xlsx')
new_data.dropna(axis='rows', inplace=True)

**Describing the Data**: Finally, we generate summary statistics of our cleaned data to understand its distribution and characteristics.

In [8]:
new_data.describe()

,Unnamed: 0,Oxygen vacancy,Polarization,Charge,Electronegativity,Radius A-site,Radius B-site,Tolerance factor,Temperature
count,2845.00000000000000,2845.00000000000000,2845.00000000000000,2845.00000000000000,2845.00000000000000,2845.00000000000000,2845.00000000000000,2845.00000000000000,2845.00000000000000
mean,1558.53286467486828,0.25107670575644,7.91773812793003,2.61972354737853,1.24527334720437,1.40831097559833,0.62072973524556,0.99121244469666,490.72056239015819
std,863.94343213550837,0.14808819400183,5.17229850979893,0.35675726021434,0.13239790114630,0.06862913783256,0.02398569604441,0.02487980301403,210.88627597570596
min,0.00000000000000,-0.00229500000000,2.72371750632620,2.00000000000000,0.96478260869565,1.24020000000000,0.59600000000000,0.92689034414490,25.00000000000000
25%,828.00000000000000,0.14743500000000,4.98125793094236,2.50000000000000,1.13846153846154,1.37625000000000,0.61000000000000,0.97616997689958,350.00000000000000
50%,1565.00000000000000,0.23688500000000,5.66484044744914,2.50000000000000,1.19200000000000,1.39750000000000,0.61000000000000,0.99158127854083,500.00000000000000
75%,2296.00000000000000,0.33613400000000,8.91284150232362,2.71428571428571,1.35714285714286,1.44000000000000,0.61875000000000,1.00445424814704,650.00000000000000
max,3054.00000000000000,0.98181800000000,32.82656162883060,4.23677581863980,1.69536585365854,1.61000000000000,0.74500000000000,1.06426785943894,800.00000000000000

In [21]:
convert("data/raw_literature_data_revised.xlsx", "to predict", 'data/to_predict.xlsx', element, Z, r, x, c)