In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
df = pd.read_excel('element.xlsx', sheet_name='Sheet1')

In [3]:
df.head()

,Pr,Ba,Sr,Co,La,Fe,V,Nb,Ta,Ag,...,Y,Eu,Ho,Cr,Mg,W,Pdd,Al,Ga,PP
0,3.000,2.00,2.00,3.00,3.00,3.000,5.00,5.00,5.00,1.00,...,3.0000,2.00,3.00,3.000,2.00,6.00,3.00,3.00,3.00,5.00
1,1.179,1.61,1.44,0.61,1.36,0.645,0.54,0.64,0.64,1.28,...,1.0175,1.35,1.12,0.615,0.72,0.60,0.76,0.40,0.62,0.38
2,1.400,0.89,1.03,1.77,1.30,1.800,2.03,1.87,1.80,1.44,...,1.3200,1.15,1.44,1.740,1.17,2.03,1.69,1.58,1.66,2.10
3,8.000,8.00,8.00,6.00,8.00,6.000,6.00,6.00,6.00,8.00,...,8.0000,8.00,8.00,6.000,6.00,6.00,6.00,6.00,6.00,6.00

In [4]:
element = df.columns.values.tolist()

In [5]:
Z = df.iloc[0,:]
r = df.iloc[1,:]
x = df.iloc[2,:]
c = df.iloc[3,:]

In [6]:
f = pd.read_excel('oxygen vacancy for Fe-based perovskites.xlsx', sheet_name='oxygen vacancy')

In [7]:
f.head()

                   Sample name  delta  Unnamed: 2
0       Sr1Sc0.175Nb0.025Fe0.8  0.275         NaN
1           Sr1Nb0.1Ta0.1Fe0.8  0.180         NaN
2        Sr0.95Nb0.1Ta0.1Fe0.8  0.205         NaN
3  Sr0.95Li0.05Nb0.1Ta0.1Fe0.8  0.260         NaN
4  Sr0.95Na0.05Nb0.1Ta0.1Fe0.8  0.225         NaN

In [8]:
name = f['Sample name']
delta = f['delta']

In [9]:
def pol(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    print(h)
    
    p = Z[h]**2/r[h]
    
    #print(radius)
    
    pwoFe = p.drop('Fe').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[:-1]
    #print(s)
    sf = [float(i) for i in s]
    totalp= np.dot(pwoFe, sf)/sum(sf)
    return totalp

In [10]:
P=[]
m = 0
for i in name:
    #print(i)
    P.append([i,m,pol(i)])
    m=m+1
pdata = [x[-1] for x in P]

['Sr', 'Sc', 'Nb', 'Fe']
['Sr', 'Nb', 'Ta', 'Fe']
['Sr', 'Nb', 'Ta', 'Fe']
['Sr', 'Li', 'Nb', 'Ta', 'Fe']
['Sr', 'Nb', 'Na', 'Ta', 'Fe']
['Sr', 'K', 'Nb', 'Ta', 'Fe']
['Sr', 'Hf', 'Fe']
['Sr', 'Nb', 'Fe']
['Sr', 'Nb', 'Fe']
['Sr', 'Nb', 'Fe']
['Ba', 'Sn', 'Fe']
['Ba', 'Fe']
['Ba', 'Ti', 'Fe']
['Ba', 'Zr', 'Fe']
['Ba', 'Ce', 'Fe']
['Ba', 'Nb', 'Fe']
['Ba', 'Sr', 'Fe']
['Ba', 'Sr', 'Sb', 'Fe']
['Ba', 'Sr', 'Zn', 'Fe']
['Ba', 'La', 'Fe']
['Ba', 'Ca', 'In', 'Fe']
['Bi', 'Sr', 'Fe']
['Bi', 'Sr', 'Fe']
['Ba', 'Zr', 'Fe']
['Ba', 'La', 'Fe']
['Ba', 'Ce', 'Fe']
['Ba', 'Gd', 'Fe']
['Ba', 'ASm', 'Fe']
['Bi', 'Sr', 'Nb', 'Fe']
['Bi', 'Sr', 'Nb', 'Fe']
['Bi', 'Sr', 'Nb', 'Fe']
['La', 'Sr', 'Cu', 'Fe']
['Pr', 'Sr', 'Cu', 'Fe']
['Nd', 'Sr', 'Cu', 'Fe']
['Sr', 'Nb', 'Fe']
['Pr', 'Ba', 'Fe']
['Pr', 'Ba', 'Zn', 'Fe']
['Pr', 'Ba', 'Zn', 'Fe']
['Pr', 'Ba', 'Zn', 'Fe']
['Pr', 'Ba', 'Zn', 'Fe']
['La', 'Cu', 'Fe']
['Ba', 'Cu', 'Fe']
['La', 'Sr', 'Co', 'Fe']
['Pr', 'Ba', 'Co', 'Fe']
['Nd', 'Ba', 'Co', 'Fe']
['Ba', 'Ni', 'Fe']
['La', 'Sr', 'Mo', 'Fe']
['Sr', 'Co', 'Ce', 'Fe']
['Sr', 'Co', 'Ce', 'Fe']
['Sr', 'Co', 'Ce', 'Fe']
['Ba', 'La', 'PP', 'Fe']
['La', 'Cu', 'Fe']
['Ba', 'Cu', 'Fe']
['Ba', 'Sr', 'Co', 'Fe']
['Ba', 'Sr', 'Co', 'Fe']
['Ba', 'Sr', 'Cu', 'Fe']
['Ba', 'Sr', 'Cu', 'Fe']
['La', 'Bi', 'Sr', 'Fe']
['Sr', 'Nb', 'Ta', 'Fe']
['Sr', 'Li', 'Nb', 'Ta', 'Fe']
['Sr', 'Li', 'Nb', 'Ta', 'Fe']
['Sr', 'Li', 'Nb', 'Ta', 'Fe']
['Sr', 'Li', 'Nb', 'Ta', 'Fe']
['Sr', 'Si', 'Fe']
['Sr', 'Si', 'Fe']
['Sr', 'Si', 'Fe']
['Sr', 'Si', 'Fe']
['Pr', 'Ba', 'Fe']
['Pr', 'Ba', 'Fe']
['Sr', 'Co', 'Fe']
['Sr', 'Co', 'Nb', 'Fe']
['Sr', 'Co', 'Nb', 'Fe']
['Bi', 'Sr', 'Sb', 'Fe']
['La', 'Sr', 'Co', 'Zn', 'Fe']
['La', 'Sr', 'Co', 'Ni', 'Fe']
['La', 'Sr', 'Co', 'Cu', 'Fe']
['Sr', 'Fe']
['Sr', 'Si', 'Fe']
['Sr', 'Ca', 'Fe']
['Sr', 'Si', 'Ca', 'Fe']
['Sr', 'Ca', 'Fe']
['Sr', 'Si', 'Ca', 'Fe']
['Gd', 'Ba', 'Mn', 'Fe']
['Gd', 'Ba', 'Mn', 'Fe']
['Sr', 'W', 'Fe']
['Sr', 'Nb', 'Fe']
['Sr', 'Nb', 'W', 'Fe']
['La', 'Sr', 'Co', 'Fe']
['La', 'Sr', 'Co', 'Ni', 'Fe']
['La', 'Sr', 'Co', 'Pdd', 'Fe']
['Sr', 'Ta', 'W', 'Fe']
['Sr', 'Ta', 'Fe']
['Sr', 'W', 'Fe']

In [11]:
def z(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    
    Zz = Z[h]
    
    #print(radius)
    
    zwoFe = Zz.drop('Fe').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[:-1]
    #print(s)
    sf = [float(i) for i in s]
    totalz= np.dot(zwoFe, sf)/sum(sf)
    return totalz

In [12]:
ZZ=[]
m = 0
for i in name:
    #print(i)
    ZZ.append([i,m,z(i)])
    m=m+1
zdata = [x[-1] for x in ZZ]

In [13]:
def electronegativity(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    
    xx = x[h]
    
    #print(radius)
    
    xwoFe = xx.drop('Fe').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[:-1]
    #print(s)
    sf = [float(i) for i in s]
    totalx= np.dot(xwoFe, sf)/sum(sf)
    return totalx

In [14]:
XX=[]
m = 0
for i in name:
    #print(i)
    XX.append([i,m,electronegativity(i)])
    m=m+1
xxdata = [x[-1] for x in XX]

In [15]:
def conditiona(x): return c[x] ==8.0
def conditionb(x): return c[x] == 6.0
def condition(x): return x==1.0

In [16]:
[idx for idx, element in enumerate(u) if condition(element)]

NameError: name 'u' is not defined

In [17]:
[element for idx,element in enumerate(u) if condition(element)]

NameError: name 'u' is not defined

In [18]:
def ra(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    ha = [element for idx, element in enumerate(h) if conditiona(element)]
    
    rr = r[ha]
    
    #print(radius)
    
    #rawoCo = rr.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[0:len(ha)]
    #print(s)
    #print(s)
    sf = [float(i) for i in s]

    totalra= np.dot(rr, sf)/sum(sf)
    return totalra

In [19]:
RA=[]
m = 0
for i in name:
    #print(i)
    RA.append([i,m,ra(i)])
    m=m+1
radata = [x[-1] for x in RA]

In [20]:
def rb(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    hb = [element for idx, element in enumerate(h) if conditionb(element)]
    ha = [element for idx, element in enumerate(h) if conditiona(element)]
    rr = r[hb]
    
    #print(radius)
    
    #rawoCo = rr.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[len(ha):len(hb)+len(ha)]
    #print(s)
    #print(s)
    sf = [float(i) for i in s]

    totalrb= np.dot(rr, sf)/sum(sf)
    return totalrb

In [21]:
RB=[]
m = 0
for i in name:
    #print(i)
    RB.append([i,m,rb(i)])
    m=m+1
rbdata = [x[-1] for x in RB]

In [159]:
train= pd.DataFrame({'Samples': name[0:150],'Oxygen vacancy': delta[0:150], 
                     'Polarization': pdata[0:150],'Charge': zdata[0:150], 'Electronegativity': xxdata[0:150],
                     'Radius A-site':radata[0:150], 'Radius B-site':rbdata[0:150]})

In [160]:
train.to_excel('train.xlsx')

In [161]:
test= pd.DataFrame({'Samples': name[150:-1],'Oxygen vacancy': delta[150:-1], 
                     'Polarization': pdata[150:-1],'Charge': zdata[150:-1], 'Electronegativity': xxdata[150:-1],
                     'Radius A-site':radata[150:-1], 'Radius B-site':rbdata[150:-1]})

In [162]:
test.to_excel('test.xlsx')

In [22]:
data= pd.DataFrame({'Samples': name,'Oxygen vacancy': delta, 
                     'Polarization': pdata,'Charge': zdata, 'Electronegativity': xxdata,
                     'Radius A-site':radata, 'Radius B-site':rbdata})

In [24]:
data.to_excel('data.xlsx')